Mobie_store/Service References/ViewService/ViewService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:58365/api/ViewService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MyWCFService.Models" />
  <xs:element name="Get_admin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="admin_id" type="xs:int" />
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_adminResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MyWCFService.Models" minOccurs="0" name="Get_adminResult" nillable="true" type="q1:ArrayOfadmin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_category">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_categoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MyWCFService.Models" minOccurs="0" name="Get_categoryResult" nillable="true" type="q2:ArrayOfcategory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_comment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_commentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MyWCFService.Models" minOccurs="0" name="Get_commentResult" nillable="true" type="q3:ArrayOfcomment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_discount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_discountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/MyWCFService.Models" minOccurs="0" name="Get_discountResult" nillable="true" type="q4:ArrayOfdiscount" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_image">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_imageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/MyWCFService.Models" minOccurs="0" name="Get_imageResult" nillable="true" type="q5:ArrayOfimage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_order">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="utoken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="user_id" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="admin_id" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_orderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/MyWCFService.Models" minOccurs="0" name="Get_orderResult" nillable="true" type="q6:ArrayOforder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_post">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_postResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/MyWCFService.Models" minOccurs="0" name="Get_postResult" nillable="true" type="q7:ArrayOfpost" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_product">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_productResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/MyWCFService.Models" minOccurs="0" name="Get_productResult" nillable="true" type="q8:ArrayOfproduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_review">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_reviewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/MyWCFService.Models" minOccurs="0" name="Get_reviewResult" nillable="true" type="q9:ArrayOfreview" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_user">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="utoken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="admin_id" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_userResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/MyWCFService.Models" minOccurs="0" name="Get_userResult" nillable="true" type="q10:ArrayOfuser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_token">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="admin_id" type="xs:int" />
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_tokenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/MyWCFService.Models" minOccurs="0" name="Get_tokenResult" nillable="true" type="q11:ArrayOftoken" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_utoken">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="utoken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="user_id" type="xs:int" />
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_utokenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/MyWCFService.Models" minOccurs="0" name="Get_utokenResult" nillable="true" type="q12:ArrayOfutoken" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>