Mobie_store/Service References/EditService/EditService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Edit_admin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="admin_id" type="xs:int" />
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="_username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_pwd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_address" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_phone" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_level" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="_image" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_fullname" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Edit_adminResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Edit_adminResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Edit_category">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="admin_id" type="xs:int" />
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="_name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_description" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Edit_categoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Edit_categoryResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Edit_comment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="utoken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="user_id" type="xs:int" />
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="_product_id" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="_comments" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Edit_commentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Edit_commentResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Edit_discount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="admin_id" type="xs:int" />
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="_value" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Edit_discountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Edit_discountResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Edit_image">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="admin_id" type="xs:int" />
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="_url" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_product_id" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Edit_imageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Edit_imageResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Edit_post">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="admin_id" type="xs:int" />
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="_product_id" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="_name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_descripton" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Edit_postResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Edit_postResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Edit_product">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="admin_id" type="xs:int" />
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="_sku" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_price" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_Ghz" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_color" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_sensor" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_cpu" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_ram" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_storage" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_camera_front" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_camera_rear" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_battery" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_display" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_sim" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_status" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_activate" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="_product_cate_id" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="_discount_id" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="_image" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Edit_productResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Edit_productResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Edit_review">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="utoken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="user_id" type="xs:int" />
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="_product_id" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="_reviews" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Edit_reviewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Edit_reviewResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Edit_user">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="utoken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="admin_id" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="_username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_fullname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_pwd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_address" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_phone" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_image" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_activated" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Edit_userResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Edit_userResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Edit_token">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="utoken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="user_id" type="xs:int" />
        <xs:element minOccurs="0" name="_value" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Edit_tokenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Edit_tokenResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>