Mobie_store/Service References/AddService/AddService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AddService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:58365/api/AddService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:58365/api/AddService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAddService_ID_Return_InputMessage">
    <wsdl:part name="parameters" element="tns:ID_Return" />
  </wsdl:message>
  <wsdl:message name="IAddService_ID_Return_OutputMessage">
    <wsdl:part name="parameters" element="tns:ID_ReturnResponse" />
  </wsdl:message>
  <wsdl:message name="IAddService_Add_admin_InputMessage">
    <wsdl:part name="parameters" element="tns:Add_admin" />
  </wsdl:message>
  <wsdl:message name="IAddService_Add_admin_OutputMessage">
    <wsdl:part name="parameters" element="tns:Add_adminResponse" />
  </wsdl:message>
  <wsdl:message name="IAddService_Add_category_InputMessage">
    <wsdl:part name="parameters" element="tns:Add_category" />
  </wsdl:message>
  <wsdl:message name="IAddService_Add_category_OutputMessage">
    <wsdl:part name="parameters" element="tns:Add_categoryResponse" />
  </wsdl:message>
  <wsdl:message name="IAddService_Add_comment_InputMessage">
    <wsdl:part name="parameters" element="tns:Add_comment" />
  </wsdl:message>
  <wsdl:message name="IAddService_Add_comment_OutputMessage">
    <wsdl:part name="parameters" element="tns:Add_commentResponse" />
  </wsdl:message>
  <wsdl:message name="IAddService_Add_discount_InputMessage">
    <wsdl:part name="parameters" element="tns:Add_discount" />
  </wsdl:message>
  <wsdl:message name="IAddService_Add_discount_OutputMessage">
    <wsdl:part name="parameters" element="tns:Add_discountResponse" />
  </wsdl:message>
  <wsdl:message name="IAddService_Add_image_InputMessage">
    <wsdl:part name="parameters" element="tns:Add_image" />
  </wsdl:message>
  <wsdl:message name="IAddService_Add_image_OutputMessage">
    <wsdl:part name="parameters" element="tns:Add_imageResponse" />
  </wsdl:message>
  <wsdl:message name="IAddService_Add_order_InputMessage">
    <wsdl:part name="parameters" element="tns:Add_order" />
  </wsdl:message>
  <wsdl:message name="IAddService_Add_order_OutputMessage">
    <wsdl:part name="parameters" element="tns:Add_orderResponse" />
  </wsdl:message>
  <wsdl:message name="IAddService_Add_order_detail_InputMessage">
    <wsdl:part name="parameters" element="tns:Add_order_detail" />
  </wsdl:message>
  <wsdl:message name="IAddService_Add_order_detail_OutputMessage">
    <wsdl:part name="parameters" element="tns:Add_order_detailResponse" />
  </wsdl:message>
  <wsdl:message name="IAddService_Add_post_InputMessage">
    <wsdl:part name="parameters" element="tns:Add_post" />
  </wsdl:message>
  <wsdl:message name="IAddService_Add_post_OutputMessage">
    <wsdl:part name="parameters" element="tns:Add_postResponse" />
  </wsdl:message>
  <wsdl:message name="IAddService_Add_product_InputMessage">
    <wsdl:part name="parameters" element="tns:Add_product" />
  </wsdl:message>
  <wsdl:message name="IAddService_Add_product_OutputMessage">
    <wsdl:part name="parameters" element="tns:Add_productResponse" />
  </wsdl:message>
  <wsdl:message name="IAddService_Add_review_InputMessage">
    <wsdl:part name="parameters" element="tns:Add_review" />
  </wsdl:message>
  <wsdl:message name="IAddService_Add_review_OutputMessage">
    <wsdl:part name="parameters" element="tns:Add_reviewResponse" />
  </wsdl:message>
  <wsdl:message name="IAddService_Add_user_InputMessage">
    <wsdl:part name="parameters" element="tns:Add_user" />
  </wsdl:message>
  <wsdl:message name="IAddService_Add_user_OutputMessage">
    <wsdl:part name="parameters" element="tns:Add_userResponse" />
  </wsdl:message>
  <wsdl:portType name="IAddService">
    <wsdl:operation name="ID_Return">
      <wsdl:input wsaw:Action="http://tempuri.org/IAddService/ID_Return" message="tns:IAddService_ID_Return_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAddService/ID_ReturnResponse" message="tns:IAddService_ID_Return_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Add_admin">
      <wsdl:input wsaw:Action="http://tempuri.org/IAddService/Add_admin" message="tns:IAddService_Add_admin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAddService/Add_adminResponse" message="tns:IAddService_Add_admin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Add_category">
      <wsdl:input wsaw:Action="http://tempuri.org/IAddService/Add_category" message="tns:IAddService_Add_category_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAddService/Add_categoryResponse" message="tns:IAddService_Add_category_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Add_comment">
      <wsdl:input wsaw:Action="http://tempuri.org/IAddService/Add_comment" message="tns:IAddService_Add_comment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAddService/Add_commentResponse" message="tns:IAddService_Add_comment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Add_discount">
      <wsdl:input wsaw:Action="http://tempuri.org/IAddService/Add_discount" message="tns:IAddService_Add_discount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAddService/Add_discountResponse" message="tns:IAddService_Add_discount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Add_image">
      <wsdl:input wsaw:Action="http://tempuri.org/IAddService/Add_image" message="tns:IAddService_Add_image_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAddService/Add_imageResponse" message="tns:IAddService_Add_image_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Add_order">
      <wsdl:input wsaw:Action="http://tempuri.org/IAddService/Add_order" message="tns:IAddService_Add_order_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAddService/Add_orderResponse" message="tns:IAddService_Add_order_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Add_order_detail">
      <wsdl:input wsaw:Action="http://tempuri.org/IAddService/Add_order_detail" message="tns:IAddService_Add_order_detail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAddService/Add_order_detailResponse" message="tns:IAddService_Add_order_detail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Add_post">
      <wsdl:input wsaw:Action="http://tempuri.org/IAddService/Add_post" message="tns:IAddService_Add_post_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAddService/Add_postResponse" message="tns:IAddService_Add_post_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Add_product">
      <wsdl:input wsaw:Action="http://tempuri.org/IAddService/Add_product" message="tns:IAddService_Add_product_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAddService/Add_productResponse" message="tns:IAddService_Add_product_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Add_review">
      <wsdl:input wsaw:Action="http://tempuri.org/IAddService/Add_review" message="tns:IAddService_Add_review_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAddService/Add_reviewResponse" message="tns:IAddService_Add_review_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Add_user">
      <wsdl:input wsaw:Action="http://tempuri.org/IAddService/Add_user" message="tns:IAddService_Add_user_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAddService/Add_userResponse" message="tns:IAddService_Add_user_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAddService" type="tns:IAddService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ID_Return">
      <soap:operation soapAction="http://tempuri.org/IAddService/ID_Return" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Add_admin">
      <soap:operation soapAction="http://tempuri.org/IAddService/Add_admin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Add_category">
      <soap:operation soapAction="http://tempuri.org/IAddService/Add_category" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Add_comment">
      <soap:operation soapAction="http://tempuri.org/IAddService/Add_comment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Add_discount">
      <soap:operation soapAction="http://tempuri.org/IAddService/Add_discount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Add_image">
      <soap:operation soapAction="http://tempuri.org/IAddService/Add_image" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Add_order">
      <soap:operation soapAction="http://tempuri.org/IAddService/Add_order" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Add_order_detail">
      <soap:operation soapAction="http://tempuri.org/IAddService/Add_order_detail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Add_post">
      <soap:operation soapAction="http://tempuri.org/IAddService/Add_post" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Add_product">
      <soap:operation soapAction="http://tempuri.org/IAddService/Add_product" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Add_review">
      <soap:operation soapAction="http://tempuri.org/IAddService/Add_review" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Add_user">
      <soap:operation soapAction="http://tempuri.org/IAddService/Add_user" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AddService">
    <wsdl:port name="BasicHttpBinding_IAddService" binding="tns:BasicHttpBinding_IAddService">
      <soap:address location="http://localhost:58365/api/AddService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>